name: create_cv

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Compile CVs in multiple languages
        uses: xu-cheng/latex-action@v4
        with:
          latexmk_use_xelatex: true
          root_file: '**/*.tex'

      - name: Upload CV files
        uses: actions/upload-artifact@v5
        with:
          name: Tiago_Costa_CV
          path: '*.pdf'
