name: Publish_CV

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Compile english CV
        uses: xu-cheng/latex-action@v4
        with:
          latexmk_use_xelatex: true
          root_file: en/en.tex
          extra_system_packages: "msttcorefonts-installer"
          pre_compile: "update-ms-fonts && fc-cache -f"

      - name: Upload PDF file
        uses: actions/upload-artifact@v5
        with:
          name: Tiago_Costa_CV_EN
          path: en.pdf
