name: create_cv

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Replace Phone Number
        run: Get-ChildItem -fi "*.tex" -r | %{ (Get-Content $_ -Raw).Replace('+351 111 222 333',$env:PHONE_NUMBER) | Out-File $_ -NoNewLine }
        shell: pwsh
        env:
          PHONE_NUMBER: ${{ secrets.PHONE_NUMBER }}

      - name: Compile CV files in multiple languages
        uses: xu-cheng/latex-action@v4
        with:
          latexmk_use_xelatex: true
          root_file: '**/*.tex'

      - name: Upload CV files
        uses: actions/upload-artifact@v5
        with:
          name: Tiago_Costa_CV
          path: '*.pdf'
