name: Publish_CV

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Compile english CV
        uses: xu-cheng/latex-action@v4
        with:
          latexmk_use_xelatex: true
          root_file: |
            en/en.tex
            pt/pt.tex

      - name: Upload PDF file
        uses: actions/upload-artifact@v5
        with:
          name: Tiago_Costa_CV
          path: '*.pdf'
